body {
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
  color: #000c;
  font-weight: 300;


  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #000c;
}




/* HEADER */
.header {
  width: 100%;
  position: fixed;
  z-index: 999;

  background-color: #fff;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  padding: 15px;
  margin: 0 auto;
}

.logo {
  font-size: 23px;
  text-shadow: 0 0 2px #000c
}

.burger.active {
  transform: rotate(180deg);
}
.burger {
  font-size: 0;
  color: transparent;

  width: 30px;
  height: 30px;
  position: relative;

  cursor: pointer;
}

.burger.active
.burger_items {
  background: none;
  box-shadow: none;
}

.burger_items {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 2px;
  box-shadow: 0 0 2px #000c;

  transition: all 0.2s ease;
  border-radius: 10px;
  background-color: #000c;
}

.burger_items:before,
.burger_items:after {
  position: absolute;
  content: '';

  width: 100%;
  height: 2px;

  transition: all 0.4s ease;
  border-radius: 10px;
  background-color: #000c;
  box-shadow: 0 0 2px #000c;
}

.burger.active
.burger_items:before {
  transform: rotateZ(45deg) translate(4px, 4px);
}
.burger_items:before {
  bottom: 6px;
}

.burger.active
.burger_items:after {
  transform: rotateZ(-45deg) translate(4px, -4px);
}
.burger_items:after {
  top: 6px;
}




/* SCROLL */
.fixed {
  width: 35px;
  height: 50px;

  background-color: #ffffff66;
  border-left: 2px solid #0000004d;
  border-top: 2px solid #0000004d;
  border-bottom: 2px solid #0000004d;
  border-radius: 7px 0 0 7px;

  transition: background 0.4s ease;
  cursor: pointer;
}
.scroll {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 5%;

}

.fixed
.scroll_item {
  position: absolute;
  z-index: 1;
  top: 26px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  width: 15px;
  height: 15px;
  transition: background 0.4s ease;

  border-left: 3px solid #0000004d;
  border-top: 3px solid #0000004d;
  border-radius: 2px;
}




/* LINE */
.line {
  width: 100%;
  height: 62px;

  border-bottom: 2px solid #000c;
  background-color: #fff;
}




/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  background: center no-repeat;
  background-size: cover;

  margin: 0 auto;
}

.items {
  display: block;
  width: 100%;
  height: auto;
  max-width: 320px;
  text-align: center;

  margin: 0 auto;
  padding: 30px 15px;
  border-bottom: 2px solid #000c;
}
.first {
  height: 230px;
  padding: 0;
}
.items img {
  width: 100%;
  height: 100%;
  display: block;

  object-fit: cover;
  object-position: 50% 50%;
}

.title {
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: 500;
  text-shadow: 0 0 2px #000c
}

.text {
  margin-bottom: 15px;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0 0 2px #000c
}
.about_me {
  position: relative;
}
.about_me:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 6px;
  left: 105%;
  transform: rotate(-45deg);

  width: 8px;
  height: 8px;
  border-radius: 2px;
  box-shadow: 0 0 2px #000c;
  border-bottom: 2px solid #000c;
  border-right: 2px solid #000c;
}
.about_me:before {
  display: block;
  position: absolute;
  content: '';
  z-index: 1;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);

  width: 8px;
  height: 16px;

  background-color: #fff;
}



.second {
  position: relative;
  padding: 0;
  background-color: #000c;
  max-width: 320px;
}
.second img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: block;
}

.my_studio {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  text-shadow: 0 0 2px #fff;
  color: #fff;

}



.third {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 15px 50px;

  background-color: #749095c7;
}

.presentation {
  margin-bottom: 15px;
}

.block {
  position: relative;
  width: 75%;
  height: 250px;

  overflow: hidden;
  background-color: #000c;
  box-shadow: 0 0 10px #000;
}
.block img {
  position: absolute;
  z-index: 1;
  top: -5%;
  opacity: 0.7;

  animation: up_down linear 10s infinite;
}
@keyframes up_down {
  0% {
    transform: translateY(0%) scale(1.2);
  }
  25% {
    transform: translateY(5%) scale(1.2);
  }
  50% {
    transform: translateY(0%) scale(1.2);
  }
  75% {
    transform: translateY(-5%) scale(1.2);
  }
  100% {
    transform: translateY(0%) scale(1.2);
  }
}



/* EXPERIENCE */
.fourth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;

  background-color: #9da8f7;
}

.experience {
  margin-bottom: 30px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0 2px #000c;
  margin-bottom: 15px;
}

.btn_title {
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 15px;
}
/* SLIDER */
.slick-list {
  overflow: hidden;
  width: 260px;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  content: '';
  display: block;
  z-index: 5;
  top: 50%;

  font-size: 0;
  width: 10px;
  height: 10px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 2px #000c;
}

.slick-arrow.slick-prev {
  left: 15px;
  border-bottom: 2px solid #000c;
  border-left: 2px solid #000c;
  transform: rotate(45deg) translateY(-50%);
}
.slick-arrow.slick-prev:after {
  position: absolute;
  content: '';
  left: 1px;
  top: -4px;
  transform: rotate(45deg);

  width: 15px;
  height: 10px;

  background-color: #9da8f7;
}

.slick-arrow.slick-next {
  right: 15px;
  border-bottom: 2px solid #000c;
  border-right: 2px solid #000c;
  transform: rotate(-45deg) translateY(-50%);
}
.slick-arrow.slick-next:after {
  position: absolute;
  content: '';
  right: 1px;
  top: -4px;
  transform: rotate(-45deg);

  width: 15px;
  height: 10px;

  background-color: #9da8f7;
}







