body {
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
  color: #000c;
  font-weight: 300;


  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #000c;
}




/* HEADER */
.header.active {
  background-color: #9da8f7;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 999;

  background-color: #fff;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  padding: 15px;
  margin: 0 auto;
}

.header.active
.logo {
  font-size: 0;
  font-weight: 300;
  color: transparent;
  text-shadow: 0 0 2px #000c
}
.logo {
  font-size: 23px;
}

.burger.active {
  transform: rotate(180deg);
}
.burger {
  font-size: 0;
  color: transparent;

  width: 30px;
  height: 30px;
  position: relative;

  cursor: pointer;
}

.burger.active
.burger_items {
  background: none;
  box-shadow: none;
}

.burger_items {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 2px;
  box-shadow: 0 0 2px #000c;

  transition: all 0.2s ease;
  border-radius: 10px;
  background-color: #000c;
}

.burger_items:before,
.burger_items:after {
  position: absolute;
  content: '';

  width: 100%;
  height: 2px;

  transition: all 0.4s ease;
  border-radius: 10px;
  background-color: #000c;
  box-shadow: 0 0 2px #000c;
}

.burger.active
.burger_items:before {
  transform: rotateZ(45deg) translate(4px, 4px);
}
.burger_items:before {
  bottom: 6px;
}

.burger.active
.burger_items:after {
  transform: rotateZ(-45deg) translate(4px, -4px);
}
.burger_items:after {
  top: 6px;
}

.nav.active {
  display: flex;
}
.nav {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  background-color: #9da8f7 ;
}

.links.active {
  font-weight: 500;
  text-shadow: 0 0 2px #000c;
}
.links {
  margin: 15px 0;

  font-weight: 300;
  transition: all 0.4s ease;
}
.links:hover {
  font-weight: 500;
  text-shadow: 0 0 2px #000c;
}





/* SCROLL */
.fixed {
  width: 35px;
  height: 50px;

  background-color: #ffffffb3;
  border-left: 2px solid #0000004d;
  border-top: 2px solid #0000004d;
  border-bottom: 2px solid #0000004d;
  border-radius: 7px 0 0 7px;

  transition: background 0.4s ease;
  cursor: pointer;
}
.scroll {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 25%;

}

.fixed
.scroll_item {
  position: absolute;
  z-index: 1;
  top: 26px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  width: 15px;
  height: 15px;
  transition: background 0.4s ease;

  border-left: 3px solid #0000004d;
  border-top: 3px solid #0000004d;
  border-radius: 2px;
}




/* LINE */
.line {
  width: 100%;
  height: 60px;
  max-width: 1200px;

  background-color: #fff;

  margin: 0 auto;
}




/* CONTAINER */
.container {
  display: block;
  width: 100%;
  height: auto;
}

.container_content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 0;
  height: auto;

  margin: 0 auto;
  padding: 30px 15px;
  border-bottom: 2px solid #000c;
}



/* ABOUT_ME */
.none {
  height: 230px;
  padding: 0;
  border-top: 2px solid #000c;
}
.items img {
  width: 100%;
  height: 100%;
  display: block;

  object-fit: cover;
  object-position: 50% 50%;
}

.title {
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: 300;
}

.text {
  max-width: 400px;
  margin-bottom: 15px;
  font-family: 'Assistant', sans-serif;
}

.btn {
  display: block;
  margin: 0 auto;
  max-width: 260px;
  width: 100%;
  font-weight: 300;
  text-transform: uppercase;
}
.about_me {
  position: relative;
}
.about_me:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 6px;
  left: 82%;
  transform: rotate(-45deg);

  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-bottom: 2px solid #000c;
  border-right: 2px solid #000c;
}



/* MY_STUDIO */
.second {
  position: relative;
  padding: 0;
  background-color: #000c;
}
.second img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: block;
}

.my_studio {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  color: #fff;

}



/* PRESENTATION */
.third {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 15px 50px;

  background-color: #749095c7;
}

.presentation {
  position: relative;
  margin-bottom: 15px;
}
.presentation:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 6px;
  left: 98%;
  transform: rotate(-45deg);

  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-bottom: 2px solid #000c;
  border-right: 2px solid #000c;
}

.block {
  position: relative;
  width: 85%;
  height: 300px;

  overflow: hidden;
  background-color: #000c;
  box-shadow: 0 0 10px #000;
}
.block img {
  position: absolute;
  z-index: 1;
  top: -5%;
  opacity: 0.7;

  animation: up_down linear 10s infinite;
}
@keyframes up_down {
  0% {
    transform: translateY(0%) scale(1.2);
  }
  25% {
    transform: translateY(5%) scale(1.2);
  }
  50% {
    transform: translateY(0%) scale(1.2);
  }
  75% {
    transform: translateY(-5%) scale(1.2);
  }
  100% {
    transform: translateY(0%) scale(1.2);
  }
}



/* EXPERIENCE */
.fourth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;

  background-color: #9da8f7;
}

.experience {
  margin:0 0 15px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.btn_title {
  text-transform: capitalize;
  font-size: 20px;
  margin: 0 auto 15px;
  font-weight: 500;
}

/* SLIDER */
.slick-list {
  overflow: hidden;
  width: 260px;
  max-width: 400px;
  position: relative;
  z-index: 4;
  text-align: center;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  content: '';
  display: block;
  z-index: 5;
  top: 50%;

  cursor: pointer;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 2px #000c;
}

.slick-arrow.slick-prev {
  left: 15px;
  border-bottom: 2px solid #000c;
  border-left: 2px solid #000c;
  transform: rotate(45deg) translateY(-50%);
}
.slick-arrow.slick-prev:after {
  position: absolute;
  content: '';
  left: 1px;
  top: -4px;
  transform: rotate(45deg);

  width: 15px;
  height: 10px;

  background-color: #9da8f7;
}

.slick-arrow.slick-next {
  right: 15px;
  border-bottom: 2px solid #000c;
  border-right: 2px solid #000c;
  transform: rotate(-45deg) translateY(-50%);
}
.slick-arrow.slick-next:after {
  position: absolute;
  content: '';
  right: 1px;
  top: -4px;
  transform: rotate(-45deg);

  width: 15px;
  height: 10px;

  background-color: #9da8f7;
}



/* MY_CAT */
.fifth {
  position: relative;
  padding: 0;
  background-color: #000c;
  height: 300px;
}
.fifth img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 80% 0;
  opacity: 0.7;
}

.my_cat {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  color: #fff;
}



/* EDUCATION */
.sixth {
  background-color: #a6b77e;
}

.education_subtitle {
  margin-top: 15px;
  font-weight: 500;
}

.void {
  position: relative;
  width: 100%;
  height: 80px;
}
.void_item {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  border-radius: 2px;
}
.void_item:before {
  position: absolute;
  z-index: 1;
  content: '';
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: bottom;

  width: 2px;
  height: 12px;

  background-color: #fff;
  border-radius: 2px;
}
.void_item:after {
  position: absolute;
  z-index: 1;
  content: '';
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  transform-origin: bottom;

  width: 2px;
  height: 12px;

  background-color: #fff;
  border-radius: 2px;
}



/* BRAND */
.seventh {
  position: relative;
  height: 230px;
  background-color: #000c;
  padding: 0;
}
.seventh img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.7;
}

.brand {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.brand:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 6px;
  left: 88%;
  transform: rotate(-45deg);

  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}



/* SKILLS */
.eighth {
  background-color: #955b1a;
}

.skills {
  display: block;
  margin: 0 auto 50px;
  color: #fff;
}

.skills_text {
  position: relative;
  width: 200px;
  color: #fff;
  text-align: left;

  margin: 0 auto 15px;
  padding-left: 55px;
}
.skills_text:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.skills_text:after {
  position: absolute;
  content: '';
  display: block;
  top: 10px;
  left: 10px;
  transform: translateY(-50%) rotate(-45deg);

  width: 10px;
  height: 7px;
  border-radius: 1px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}



/* MY_STYLE */
.ninth {
  position: relative;
  height: 230px;
  background-color: #000c;
  padding: 0;
}
.ninth img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.7;
}

.my_style {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}



/* CONTACT */
.tenth {
  padding: 30px;
}

.contact {
  margin-bottom: 50px;
}

.contact_subtitle {
  font-weight: 300;
  font-family: 'Assistant', sans-serif;
  margin-bottom: 50px;
}

.contact_btn {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}



/* CAMPAIGN */
.eleventh {
  position: relative;
  padding: 0;
  height: 230px;
  background-color: #000c;
}
.eleventh img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.7;
}

.campaign {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.campaign:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 6px;
  left: 82%;
  transform: rotate(-45deg);

  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}



/* CONTAINER1 */
.container1 {
  display: block;
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
}

.links_web {
  padding: 15px;
}




/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;

  border-bottom: 2px solid #000c;
  padding: 20px 15px;
  margin: 0 auto;
}

.text_footer {
  margin: 0;
  text-align: center;
}

.text_footer a{
  transition: all 0.4s ease;
}
.text_footer a:hover{
  text-shadow: 0 0 2px #000c;
}




@media (min-width: 768px) {
  /* HEADER */
  .header_content {
    border: 2px solid #000c;
    padding: 0;
  }

  .logo {
    width: 20%;
    border-right: 2px solid #000c;
    text-align: center;

    transition: all 0.4s ease;
    padding: 20px 15px;
    background-color: #9da8f7;
  }
  .logo:hover {
    font-weight: 300;
    text-shadow: 0 0 2px #000c;
  }

  .burger {
    display: none;
  }

  .nav {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    height: auto;

    padding: 0;
    background: none;
  }
  .links {
    margin: 0;
    padding: 0 15px;
  }

  /* CONTAINER */
  .cont_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    align-items: center;
  }

  .first {
    position: relative;
    justify-content: center;
  }
  .about_me {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
  }

  .second {
    position: relative;
  }
  .my_studio {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: auto;
    bottom: 30px;
    transform: translateX(-50%);
  }

  .cont_2 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 350px;
    align-items: center;
  }
  .third {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .presentation:after {
    left: 88%;
  }

  .fourth {
    grid-column-start: 7;
    grid-column-end: 15;
    justify-content: space-between;
  }
  .slide_text {
    padding: 0 5px;
  }

  .fifth {
    grid-column-start: 15;
    grid-column-end: 21;
    position: relative;
  }
  .my_cat {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: auto;
    bottom: 30px;
    transform: translateX(-50%);
  }

  .cont_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    align-items: center;
  }

  .sixth {
    position: relative;
    justify-content: center;
  }
  .education {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
  }
  .void {
    height: 30px;
  }

  .seventh {
    position: relative;
  }
  .brand {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: auto;
    bottom: 30px;
    transform: translateX(-50%);
  }

  .eighth {
    position: relative;
    justify-content: center;
  }
  .skills {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
  }

  .cont_4 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 300px;
    align-items: center;
  }

  .ninth {
    grid-column-start: 1;
    grid-column-end: 7;
    position: relative;
  }
  .my_style {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: auto;
    bottom: 30px;
    transform: translateX(-50%);
  }

  .tenth {
    grid-column-start: 7;
    grid-column-end: 15;
    position: relative;
    justify-content: center;
  }
  .contact {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 30px;
    margin: 0;
    transform: translateX(-50%);
  }

  .eleventh {
    grid-column-start: 15;
    grid-column-end: 21;
  }
  .campaign {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: auto;
    bottom: 30px;
    transform: translateX(-50%);
  }

  .items {
    border: 0.5px solid #000c;
    width: 100%;
    height: 100%;
  }

  .line {
    border-bottom: 0.5px solid #000c;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* CONTAINER1 */
  .container1 {
    display: flex;
  }

  /* FOOTER */
  .footer {
    border: 0.5px solid #000c;
  }
}



@media (min-width: 1024px) {
  /* CONTAINER */
  .cont_1 {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: 450px;
    align-items: center;
  }

  .none {
    grid-column-start: 1;
    grid-column-end: 41;
  }

  .first {
    grid-column-start: 41;
    grid-column-end: 71;
  }

  .second {
    grid-column-start: 71;
    grid-column-end: 101;
  }

  .cont_2 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 450px;
    align-items: center;
  }

  .third {
    grid-column-start: 1;
    grid-column-end: 7;
    justify-content: space-between;
  }
  .presentation:after {
    left: 100%;
  }

  .fourth {
    grid-column-start: 7;
    grid-column-end: 14;
    position: relative;
    justify-content: center;
  }
  .experience {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    margin: 0 0 30px;
  }
  .subtitle {
    margin: 15px 0;
  }
  .btn_title {
    margin: 0 auto;
  }
  .slick-list {
    width: 100%;
    max-width: 300px;
  }
  .slide_text {
    padding: 0;
  }

  .fifth {
    grid-column-start: 14;
    grid-column-end: 21;
  }

  .cont_3 {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: 450px;
    align-items: center;
  }

  .sixth {
    grid-column-start: 1;
    grid-column-end: 33;
  }
  .void {
  height: 80px;
  }

  .seventh {
    grid-column-start: 33;
    grid-column-end: 69;
  }

  .eighth {
    grid-column-start: 69;
    grid-column-end: 101;
  }

  .cont_4 {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: 450px;
    align-items: center;
  }
  .ninth {
    grid-column-start: 1;
    grid-column-end: 11;
  }
  .tenth {
    grid-column-start: 11;
    grid-column-end: 21;
  }
  .eleventh {
    grid-column-start: 21;
    grid-column-end: 31;
  }
}








