body {
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
  color: #000c;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

hr {
  margin-bottom: 30px;
}

.title {
  font-size: 23px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.text {
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}




/* HEADER */
.header.active {
  background-color: #9da8f7;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 999;

  background-color: #fff;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  padding: 15px;
  margin: 0 auto;
}

.header.active
.logo {
  font-size: 0;
  font-weight: 300;
  text-shadow: 0 0 2px #000c
}
.logo {
  font-size: 23px;
  color: #000c;
}

.burger.active {
  transform: rotate(180deg);
}
.burger {
  font-size: 0;
  color: transparent;

  width: 30px;
  height: 30px;
  position: relative;

  cursor: pointer;
}

.burger.active
.burger_items {
  background: none;
  box-shadow: none;
}

.burger_items {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 2px;
  box-shadow: 0 0 2px #000c;

  transition: all 0.2s ease;
  border-radius: 10px;
  background-color: #000c;
}

.burger_items:before,
.burger_items:after {
  position: absolute;
  content: '';

  width: 100%;
  height: 2px;

  transition: all 0.4s ease;
  border-radius: 10px;
  background-color: #000c;
  box-shadow: 0 0 2px #000c;
}

.burger.active
.burger_items:before {
  transform: rotateZ(45deg) translate(4px, 4px);
}
.burger_items:before {
  bottom: 6px;
}

.burger.active
.burger_items:after {
  transform: rotateZ(-45deg) translate(4px, -4px);
}
.burger_items:after {
  top: 6px;
}

.nav.active {
  display: flex;
}
.nav {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  background-color: #9da8f7 ;
}

.links.active {
  font-weight: 500;
  text-shadow: 0 0 2px #000c;
}
.links {
  margin: 15px 0;
  color: #000c;

  font-weight: 300;
  transition: all 0.4s ease;
}
.links:hover {
  text-shadow: 0 0 2px #000c;
}




/* SCROLL */
.fixed {
  width: 35px;
  height: 50px;

  background-color: #ffffffb3;
  border-left: 2px solid #0000004d;
  border-top: 2px solid #0000004d;
  border-bottom: 2px solid #0000004d;
  border-radius: 7px 0 0 7px;

  transition: background 0.4s ease;
  cursor: pointer;
}

.scroll {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 25%;
}

.fixed
.scroll_item {
  position: absolute;
  z-index: 1;
  top: 26px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  width: 15px;
  height: 15px;
  transition: background 0.4s ease;

  border-left: 3px solid #0000004d;
  border-top: 3px solid #0000004d;
  border-radius: 2px;
}




/* LINE */
.line {
  width: 100%;
  height: 60px;
  max-width: 1200px;

  background-color: #fff;

  margin: 0 auto;
}




/* CONTAINER */
.container {
  width: 100%;
  max-width: 900px;

  padding: 15px 15px 30px 15px;
  margin: 0 auto;
}

.about_items {
}

.about {
  width: 100%;
  text-align: center;
}

.about_link {
  text-decoration: underline;
  color: #000c;
  transition: all 0.4s ease;
}
.about_link:hover {
  text-shadow: 0 0 2px #000c;
}

.about_img {
  width: 100%;
  height: 300px;

  margin-bottom: 35px;
  background-color: #000c;
}
.about_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.7;
}

.icons {
  margin-bottom: 15px;
}

.icon {
  font-size: 40px;
  cursor: pointer;

  transition: all 0.4s ease;
  margin: 0  5px;
}
.icon:hover {
  text-shadow: 0 0 2px #000c;
}

.text a {
  text-decoration: none;
  color: #000c;
  transition: all 0.4s ease;
}
.text a:hover {
  text-shadow: 0 0 2px #000c;
}




/* FOOTER */
.footer {
  width: 100%;
  max-width: 1200px;

  padding: 20px 15px;
  margin: 0 auto;
  border: 2px solid #000c;
}

.footer_text {
  text-align: center;
  margin: 0;
}






@media (min-width: 768px) {
  /* HEADER */
  .header_content {
    border: 2px solid #000c;
    padding: 0;
  }

  .logo {
    width: 20%;
    border-right: 2px solid #000c;
    text-align: center;

    transition: all 0.4s ease;
    padding: 20px 15px;
    background-color: #9da8f7;
  }
  .logo:hover {
    font-weight: 300;
    text-shadow: 0 0 2px #000c;
  }

  .burger {
    display: none;
  }

  .nav {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 270px;
    height: auto;

    padding: 0 15px;
    background: none;
  }
  .links {
    margin: 0;
    padding: 0;
  }

  /* LINE */
  .line {
    height: 71px;
  }

  /* CONTAINER */
  .container {
    padding: 30px 15px;
  }

  .about_items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .title {
    text-align: left;
  }

  .subtitle {
    text-align: left;
  }

  .text {
    text-align: left;
  }

  .about {
    text-align: left;
  }

  /* FOOTER */
  .footer_text {
    text-align: center;
  }

}














